h1 {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: cadetblue;
}

#text {
    /* id selector*/
    color: darkblue;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.text2 {
    /* class selector*/
    color: crimson;
}