.arkaplan{
    background-color: blueviolet;
}

.beyazkisim {
    margin: 30px;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    padding: 50px;
}

.input{
    border: 10px;
    border-width: 5px;
    border-color: #93C1F9;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 24px;
}

.input:focus{
    border-color: #93C1F9;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    width: 100%;
    outline: 0;
}

.baslik{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.input2{
    height: 140px;
    border: 10px;
    border-width: 5px;
    border-color: #93C1F9;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 24px;
    
}

.div{
    margin: 20px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.sorulardiv {
    margin-left: 100px
}

.button{
    width: 50%;
    height: 50px;
    color: white;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    background-color: #93C1F9;
    border-width: 2px;
    border-color: #93C1F9;
    border-radius: 10px;
    outline: 0;
    margin-left: 300px;
}

@media(max-width:768px){
    .arkaplan{
        background-color: aqua;
    }
    
    .beyazkisim {
        margin: 30px;
        border-radius: 10px;
        border-color: white;
        background-color: white;
        padding: 10px;
    }
    
    .input{
        border: 10px;
        border-width: 5px;
        border-color: #93C1F9;
        border-style: solid;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        font-size: 24px;
    }
    
    .input:focus{
        border-color: #93C1F9;
        border-width: 5px;
        border-style: solid;
        padding: 10px;
        width: 100%;
        outline: 0;
    }
    
    .baslik{
        font-size: 25px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    
    .input2{
        height: 140px;
        border: 10px;
        border-width: 5px;
        border-color: #93C1F9;
        border-style: solid;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        font-size: 24px;
        
    }
    
    .div{
        margin: 20px;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    h1 {
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
    
    .sorulardiv {
        margin-left: 0px
    }
    
    .button{
        width: 90%;
        height: 50px;
        color: white;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        background-color: #93C1F9;
        border-width: 2px;
        border-color: #93C1F9;
        border-radius: 10px;
        outline: 0;
        margin-left: 300px;
    }
}